
body{
    font-family: sans-serif;
}

/* header */
.headercontainer{
    border-bottom: 2px solid #EEF0F3;
}
.header{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    

}

.logo{
    width: 10%;
    float: left;
    padding: 15px;

}

.menuitems{
    float: right;
    list-style: none;
    overflow: hidden;
    padding: 15px;
}
.menuitems li{
    float: left;
    margin-right: 40px;
}
.menuitems :last-child{
    margin-right: 0;
}
.menuitems li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}



/* banner */
.banner{
    width: 60%;
    margin: 50px auto;
    text-align: center;
    
}
.banner h1{
    font-size: 40px;
    font-weight: 700;
}
.banner p{
    font-size: 16px;
    font-weight: 400;
   
}

.online{
    color: #008AFF;
}


/* projects */
.projects{
    width: 60%;
    margin: 50px auto;
    overflow: hidden;
    
}
.number{
    width: 45%;
    float: left;
    text-align: right;
    font-size: 16px;
    font-weight: 400;

    
    
}
.number h1{
    font-size: 40px;
    color: #F15767;
    margin-bottom: 5px;
}
.project{
    width: 50%;
    float: right;
    text-align: left;
    font-size: 30px;
}


/* services */
.services{
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
}
.service{
    width: 30%;
    float: left;
    margin-right: 20px;
}
.service img{
    width:100%;
}
.service h1, p{
    padding-left: 20px;
}
.service p{
    padding-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
}

.bg1{
    background-color:#FDEBED ;
}
.bg2{
    background-color:#EBF9F4 ;
}
.bg3{
    background-color:#FFF7E8 ;
}

/* footer */
.footer{
    background-color: #008AFF;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
.footer p{
    color: #61AAFF;

}
.big{
    color: white;
    text-decoration: none;
}

